<div class="jumbotron">
      <div class="container">
        
        <div class="col-md-6 title_info">
          <div style="font-size: 130%">
            Welcome
          </div>
          <div style="font-size: 90%">AMDB is an Anime Media DataBase</div>
          <div style="font-size: 90%">Browse Anime, Actors, Tags, and more below</div>
          <div style="font-size: 90%"></div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Animes</h2>
            <table class="table table-stripe">
              
            </table>
        </div>
      </div>

      <hr>

      
    </div>