<div class="jumbotron">
      <div class="container">
        <div class="col-md-6">
          <%= image_tag "title_card.jpg", height: '300', width: '400', alt: 'no_title_card.png' %>
          <br>
          <div style="padding-top: 10px">Tags: <a>Robots</a>, <a>Space</a>, <a>Gundam</a>, <a>Politics</a>, <a>Futuristic</a></div>
        </div>
        
        <div class="col-md-6 title_info">
          <div style="font-size: 130%">New Mobile Report Gundam Wing</div>
          <div style="font-size: 90%">Originally Aired: 1995</div>
          <div><a>Mecha</a>, <a>Action</a>, <a>Adventure</a></div>
          <br>
          <div class="synopsis">
              Five young pilots from space colonies use giant robots to fight against an oppressive Earth government.
          </div>
          <br>
          <div class="important_people">
              Director(s): <a>Masashi Ikeda</a>
              <br>
              Writer(s): <a>Katsuyuki Sumizawa</a>
              <br>
              Star(s): <a>Hikaru Midorikawa</a>, <a>Toshihiko Seki</a>, <a>Shigeru Nakahara</a>, <a>Ai Orikasa</a>, <a>Ryuzou Ishino</a>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row">
        <div class="col-lg-4">
          <h2>Cast</h2>
            <table class="table table-stripe">
              <tr><td><a>Shigeru Nakahara</a></td><td>Trowa Barton</td></tr>
              <tr><td><a>Ishino Ryuuzou</a></td><td>Wufei Chang</td></tr>
              <tr><td><a>Takehito Koyasu</a></td><td>Zechs Marquise</td></tr>
              <tr><td><a>Toshihiko Seki</a></td><td>Duo Maxwell</td></tr>
              <tr><td><a>Akiko Yajima</a></td><td>Relena Peacecraft</td></tr>
              <tr><td><a>Ai Orikasa</a></td><td>Quatre Raberba Winner</td></tr>
              <tr><td><a>Hikaru Midorikawa</a></td><td>Heero Yuy</td></tr>
              <tr><td><a>Toshiyuki Morikawa</a></td><td>Abdul</td></tr>
              <tr><td><a>Yuu Shimaka</a></td><td>Inspector Acht</td></tr>
              <tr><td><a>Isshin Chiba</a></td><td>Akhmad</td></tr>
              <tr><td><a>Keiichi</a></td><td>Alex</td></tr>
              <tr><td><a>Haiki Nakamura</a></td><td>Auda</td></tr>
              <tr><td><a></a></td><td></td></tr>
              <tr><td><a></a></td><td></td></tr>
            </table>
        </div>
      </div>

      <hr>

      
    </div>